  body {
      max-width: 640px;
      margin: 0 auto;
  }

  ul,
  li {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .copy-demo {
      width: 100%;
      height: auto;
      overflow: hidden;
  }

  .li {
      padding: 20px;
      border-bottom: 1px solid #f0f0f0;
      overflow: hidden;
  }

  .copy-pp {
      color: #666;
      line-height: 1.2;
  }

  .copy-btn {
      background-color: cornflowerblue;
      color: #fff;
  }

  .copy-text {
      opacity: 0;
  }