<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<!--网页能在移动端显示-->
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--JQ-->
		<script src="js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<!--公共的vue.js-->
		<script src="js/vue.min.js"></script>
		<link rel="stylesheet" href="./css/apply.css">
		<link rel="stylesheet" type="text/css" href="css/base.css">
		<title>小学阅读吧</title>
	</head>
	<body>
		<div class="YDapp">
			<div class="content">
				<div class="photo" v-html="photo"></div>
				<p>
					<span>学生姓名：</span>
					<input type="text" v-model="name">
				</p>
				<p>
					<span>性别：</span>
					<input class="sex" type="radio" name='sex' checked value="男" v-model="sex">
					<label style="font-size: 16px" for="man">男</label>
					<input class="sex" type="radio" name='sex' value="女" v-model="sex">
					<label style="font-size: 16px"  for="woman">女</label>
				</p>
				<p v-if="isShcool==1">
					<span>学校：</span>
					<input type="text" v-model="shcool">
				</p>
				<p>
					<span>年级段：</span>
					<input type="text" v-model="grade">
				</p>
				<p>
					<span>班级：</span>
					<input type="text" v-model="className">
				</p>
				<p v-if="isCaptain==1">
					<span>队长：</span>
					<input type="text" v-model="captain">
				</p>
				<p>
					<span>联系人：</span>
					<input type="text" v-model="contact">
				</p>
				<p>
					<span>联系人电话：</span>
					<input type="text" v-model="telephone">
				</p>
				<p>
					<span>地址：</span>
					<input type="text" v-model="address">
				</p>
				<p>
					<span>班主任：</span>
					<input type="text" v-model="headTeacher">
				</p>
				<p>
					<span>班主任电话：</span>
					<input type="text" v-model="teacherTelephone">
				</p>
				<p>
					<span>编号：</span>
					<input type="text" v-model="userNo">
				</p>
				<div class="btn_box">
				<button id="btn" @click="goUp">提交</button>	
				</div> 
				<div id="isShow">申请成功，耐心等待工作人员与您联系</div>
			</div>
		</div>
	</body>
	<script src="js/apply.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		// $(function() {
			// $("#btn").on("click", function() {
			// 	url = "http://www.hzxh7.cn/share/common.html";
			// 	window.location.href = url;
			// });
		// });
	</script>
</html>
