<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!--网页能在移动端显示-->
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!--JQ-->
    <script src="js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <!--公共的vue.js-->
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="./css/swiper.min.css">
    <link rel="stylesheet" href="./css/type.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <title>小学阅读吧</title>
</head>

<body>
    <div class="YDapp">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- <div class="swiper-slide">
                    <img src="./image/111.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./image/222.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./image/333.jpg" alt="">
                </div> -->
                <div class="swiper-slide" v-for="tmp in images">
                    <img @click="goBanner(tmp)" :src="tmp.photo" alt="">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="headBox">
                <p class="name" :style="{width: (100/level)+'%'}" :class="{'active':typeNum==1}" @click="goTab(1)">{{oneName?oneName:'省'}}</p>
                <p v-if="2<=level" :style="{width: (100/level)+'%'}" class="name" :class="{'active':typeNum==2}" @click="goTab(2)">{{twoName?twoName:'市'}}</p>
                <p v-if="3<=level" :style="{width: (100/level)+'%'}" class="name" :class="{'active':typeNum==3}" @click="goTab(3)">{{threeName?threeName:'县/区'}}</p>
                <p v-if="4<=level" :style="{width: (100/level)+'%'}" class="name" :class="{'active':typeNum==4}" @click="goTab(4)">{{fourName?fourName:'学校'}}</p>
            </div>
            <div class="bodyBox">
                <p v-for="(selecd,index) in selecdData" @click="getData(selecd,typeNum)">
                    {{selecd.name}}
                </p>
            </div>
        </div>
    </div>
</body>
<script src="js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/type.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    setTimeout(function() {
        var swiper = new Swiper('.swiper-container');
    },200)
</script>

</html>