
.YDapp .content {
    width: 100%;
}
.YDapp .content img{
    width: 100%;
    height: auto;
}
.YDapp .content p{
    margin: 0;
}
.YDapp .content div{
    float: left;
    width: 25%;
    text-align: center;
}